# Default values for docs subchart
replicaCount: 1

image:
  repository: kitchensink-react/docs
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3003

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
