# Default values for legal subchart
replicaCount: 1

image:
  repository: kitchensink-react/legal
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3002

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
