# Default values for app subchart
replicaCount: 1

image:
  repository: kitchensink-react/app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3001

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
